@import url(reset.css);
:root {
  --counter-bg-color: #d22730;
  --color-text-b: #000000;
  --color-text: #212721;
  --color-selected: #009246;
  --color-bg: #f5faf2;
  --color-border: #d1d9ce;
  --color-description: #636662;
  --color-item-bg: #009246;
  --color-invalid--color: #d22730;
  --color-bg-w: #ffffff;
  --color-input-border: #b4b4b4;
  --color-btn-g: #636363;
}
body {
  font-family: "Mont Blanc", sans-serif;
}

[class*="__container"] {
  margin: 0 auto;
  padding: 0 12px;
}

.header__top {
  display: none;
  position: absolute;
  top: 60px;
  width: 100%;
  border-radius: 16px;
  background-color: var(--color-bg);
  flex-direction: column-reverse;
}
.header__work-info {
  margin: 15px 0;
  text-align: center;
}
.header__work-info__phone {
  font-size: 18px;
  color: var(--color-bg--color);
  line-height: 1.5em;
  font-weight: 600;
}
.header__work-info__hours {
}
.header__work-info__item {
  color: var(--color-description);
  font-size: 14px;
  line-height: 1.4em;
}
.header__links {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  justify-content: center;
}
.header__link {
  font-size: 18px;
  line-height: 1.4em;
  font-weight: 400;
  color: var(--color-text);
  font-weight: 400;
}

.link__response {
  padding: 3px 12px;
  background-color: var(--color-item-bg);
  color: var(--color-bg-w);
  border-radius: 12px;
  font-size: 18px;
  font-weight: 400;
}
.header__delivery__info {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 15px 0;
}

.delivery__info__green__text {
  font-weight: 600;
  color: var(--color-item-bg);
  font-size: 14px;
  line-height: 1.5em;
}
.delivery__info__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5em;
  color: var(--color-text);
  padding-left: 5px;
}
.delivery__info__green {
}
.delivery__info__green::before {
  content: url(/icons/i-header-top.svg);
  width: 22px;
  height: 23px;
}
.header__bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-image: url(/icons/bg-slide.svg);
  height: 66px;
}
.header__logo {
}
.logo-img {
  max-width: 120px;
  max-height: 28px;
}

@media (min-width: 1200px) {
  .header__top {
    position: static;
    flex-direction: row;
    display: flex;

    background-color: var(--color-bg-w);
  }
  .header__links {
    flex-direction: row;
  }
  .header__menu {
  }
  .header {
    display: flex;
    flex-direction: column;
  }
  .header__work-info {
    margin: 0 30px 0 0;
  }
  .header__work-info__item {
    text-align: left;
  }
  .header__links {
    gap: 25px;
    margin-right: 50px;
  }
  .header__delivery__info {
    margin: 0 30px 0 0;
  }
  .header__work-info__phone {
    font-size: 16px;
  }
  .header__work-info__item {
    font-size: 12px;
  }
  .header__link {
    font-size: 14px;
  }
  .link__response {
    font-size: 14px;
  }
  .header__top {
    width: auto;
  }
  .header__user__links {
    position: absolute;
    right: 10px;
    top: -60px;
    z-index: 12;
  }
  .link__user {
    background-color: var(--counter-bg-color);
    padding: 8px 12px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    gap: 5px;
  }
  .link-user-img {
    stroke: var(--color-bg-w);
  }
  .link__user::after {
    content: "Вхід";
    text-align: center;
    top: 2px;
    color: var(--color-bg-w);
    font-size: 14px;
    font-weight: 400;
  }
  .hambur-menu {
    display: none;
  }
  .header__menu {
    box-shadow: none;
  }
  .logo-img {
    max-width: 220px;
    max-height: 50px;
  }
}
.header__menu {
  position: absolute;
  left: 50%;
  top: 70px;
  box-shadow: 0.5px 4px 2px rgba(0, 0, 0, 0.1);
  width: 100%;
  transform: translateX(-50%);
}
@media (min-width: 1200px) {
  .header__menu {
    z-index: 10;
    box-shadow: none;
  }
  .header__menu__items {
    margin: 0 170px;
  }

  .header__bottom {
    box-shadow: 0.5px 4px 2px rgba(0, 0, 0, 0.1);
  }
  .link-user-img {
    display: none;
  }
}
.select {
  color: var(--color-selected);
}
.header__menu__items {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 40px;
}
.header__menu__item {
  cursor: pointer;
  font-family: "Mont Blanc", sans-serif;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 200;
  letter-spacing: 0.42px;
  text-align: center;
  box-sizing: border-box;
}

.user__control__wrap {
  display: flex;
  align-items: center;
  gap: 20px;
}
.header__user__links {
  display: flex;
  gap: 20px;
}
.header__link__preferences {
  display: flex;
  position: relative;
}

.header__preferences__counter,
.header__product__counter {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--counter-bg-color);
  height: 22px;
  width: 22px;
  border-radius: 100%;
  position: absolute;
  left: 10px;
  top: -8px;
  color: var(--color-bg-w);
  font-size: 12px;
  font-weight: 400;
}

.header__link__basket {
  display: flex;
  position: relative;
  z-index: 40;
}

.hamburger-line {
  width: 25px;
  height: 2px;
  background-color: var(--color-text-b);
  border-radius: 5px;
}
.hamburger-line:not(:last-child) {
  margin-bottom: 7px;
}
@media (min-width: 768px) {
  [class*="__container"] {
    margin: 0 auto;
    padding: 0 12px;
    margin: 0 24px;
  }
}
@media (min-width: 990px) {
  [class*="__container"] {
    margin: 0 auto;
    padding: 0 12px;
    margin: 0 32px;
  }
}
.preferences__tip {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--color-bg-w);
  padding: 15px;
  width: 256px;
  transform: translateX(-50%) translateY(50px);
  transition: all 0.3s linear;
  border: 1px solid var(--color-text);
  border-radius: 12px;
  display: none;
}
.preferences__tip__description {
  font-size: 16px;
  line-height: 1.5em;
  color: var(--color-text);
  text-align: center;
}
main {
  margin-top: 60px;
}
.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  margin-top: 10px;
  color: var(--color-bg-w);
  border-radius: 12px;
  width: fit-content;
  height: 40px;
  background-color: var(--counter-bg-color);
  padding: 10px 20px;
}
.btn__order_text,
.about__button__text {
  font-family: "Mont Blanc", sans-serif;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
  line-height: 17.4px;
}
.login__button,
.register__button {
  width: 100%;
}
.btn__order_arrow,
.about__button_arrow,
.login__button_arrow {
  border-radius: 50px;
  border: 2px solid var(--color-bg-w);
  padding: 2px;
}
.login__button_arrow {
  width: 20px;
  height: 20px;
}
.banner__controls {
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner__back__img {
  transform: scaleX(-1);
}
.banner__controls__identifiers {
  display: flex;
}
.banner__controls__identifier {
  width: 10px;
  height: 10px;
  border: 1px solid var(--color-border);
  border-radius: 50%;
  margin: 0 10px;
}
s .category__title {
  color: var(--color-text);
  font-size: 22px;
  font-weight: 600;
  margin-top: 20px;
}
.subcategories {
  padding: 0 15px 5px;
  margin: 10px 0;
  display: flex;
  overflow-x: auto;
  gap: 5px;
}
.subcategory {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding: 5px 20px;
  border: 1px solid var(--color-subcategory-border);
  border-radius: 12px;
  font-size: 14px;
  font-family: "Mont Blanc", sans-serif;
  font-weight: 36px;
  height: 36px;
  line-height: 24px;
  color: var(--color-text);
}

.products {
  display: flex;
  flex-wrap: wrap;
}
.product {
  flex: 0 0 100%;
  margin-bottom: 20px;
}

@media (min-width: 650px) {
  .product {
    flex: 0 0 46%;
    margin: 0 10px 20px 10px;
  }
}
@media (min-width: 990px) {
  .product {
    flex: 0 0 31.2%;
  }
}
.product {
  display: flex;
  flex-direction: column;
  border: 1.6px solid var(--color-border);
  border-radius: 16px;
  padding: 0 15px 15px;
  align-items: center;
  justify-content: center;
}
.product__img {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;
  margin-bottom: 10px;
  object-fit: cover;
}
.product__title {
  color: var(--color-text);
  font-size: 18px;
  line-height: 23.4px;
  font-weight: 600;
  display: flex;
  justify-content: flex-start;
  align-self: flex-start;
}
.product__ingredients {
  margin-bottom: 10px;
  font-weight: 400;
  line-height: 21px;
  font-size: 14px;
  color: var(--color-product-description);
  overflow: hidden;
  min-height: 4.5em;
}
.product__control {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.product__control__info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 15px;
}
.product__price__wrapper {
  display: flex;
  align-items: center;
  gap: 5px;
}
.product__price,
.product__price_currency {
  font-size: 18px;
  font-weight: 600;
  color: var(--color-text);
}

.product_weight {
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  color: var(--color-product-description);
}
.product__bonus {
  color: var(--color-item-bg);
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
}
.product__control__action {
  display: flex;
  justify-content: space-between;
}
.product__amount__control {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.8px solid var(--color-border);
  border-radius: 12px;
}
.product__amount__decrement,
.product__amount,
.product__amount__increment {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-text);
  font-weight: 400;
  width: 36px;
  text-align: center;
  font-size: 16px;
}
.product__amount {
  border-left-style: solid;
  border-left-width: 0.8px;
  border-left-color: var(--color-border);
  border-right-style: solid;
  border-right-width: 0.8px;
  border-right-color: var(--color-border);
}

.product__btn__order {
  margin: 0;
  max-width: 58%;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.button {
  transition: all 0.3s linear;
}
.button:hover {
  background-color: var(--color-item-bg);
  cursor: pointer;
}

.menu_body {
  position: fixed;
  z-index: 120;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;

  background-color: var(--color-bg-w);
  transition: all 0.5s ease-in-out;
}
@media (min-width: 768px) {
  .menu_body {
    margin: 15px;
    border-radius: 12px;
    width: 540px;
  }
}
.basket__top {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 15px;
  position: relative;
  height: 56px;
  border-bottom: 1px solid var(--color-border);
}
.basket__title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.basket__title__img {
  width: 30px;
  height: 26px;
}
.basket__title__text {
  color: var(--color-text);
  font-size: 20px;
  font-weight: 600;
  line-height: 1.7em;
}

.basket__close {
  position: absolute;
  right: 20px;
  top: 23px;
}
.button__empty__button__text {
  font-size: 12px;
}
.basket__empty {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px 0;
  margin: 240px 0;
  text-align: center;
}
.basket__empty__title {
  font-size: 18px;
  line-height: 1.5em;
  font-weight: 600;
  color: var(--color-text);
}

.basket__bottom__content {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
}
.basket__bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.basket__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}
.basket__sum {
  display: flex;
}
.basket__sum__amount,
.basket__sum__text,
.basket__sum__currency {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5em;
  color: var(--color-description);
  margin-right: 5px;
}
.basket__bonus {
  display: flex;
}
.basket__bonus__text,
.basket__bonus__amount {
  font-weight: 700;
  font-size: 14px;
  color: var(--color-item-bg);
  margin-right: 5px;
}
.basket__bottom__button {
  margin-bottom: 5px;
}

.basket__products {
  display: flex;
  flex-direction: column;
}
.basket__product {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  align-items: center;
  padding: 5px 0;
  border-bottom: 1px solid var(--color-border);
}
.basket__product__img {
  padding-left: 15px;
  max-width: 90px;
}

.product__info {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  width: 100%;
  padding-right: 15px;
}
.product__title__wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.product__title {
  line-height: 1em;
  margin-bottom: 5px;
  color: var(--color-text);
  font-weight: 600;
  font-size: 16px;
}

.product__controls {
  display: flex;
  justify-content: space-between;
}
.product__default__price {
  display: flex;
  gap: 2px;
}
.product__default__price__value,
.product__default__price__currency,
.product__total__price__value,
.product__total__price__currency {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5em;
  color: var(--color-text);
}

.product__amount__decrement {
  cursor: pointer;
}

.product__amount__increment {
  cursor: pointer;
}
.product__total__price {
  display: flex;
  gap: 2px;
}

.ordering-products {
  position: absolute;
  top: 50px;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: var(--color-bg-w);
}
.address__info {
  display: flex;
  flex-wrap: wrap;
}

.input__house {
  flex: 0 0 auto;
  width: 50%;
}
.input__entrance {
  flex: 0 0 auto;
  width: 50%;
}
.input__floor {
  flex: 0 0 auto;
  width: 50%;
}
.input__flat {
  flex: 0 0 auto;
  width: 50%;
}
.ordering-products {
  display: none;
}
.login__overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 15px;
  z-index: 40;
}
.login {
  width: 100%;
  padding: 20px;
  background-color: var(--color-bg-w);
  border-radius: 12px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  max-width: 560px;
}
.login__top {
  display: flex;
  width: 100%;
}

.login .ordering-products,
.register {
  display: none;
}
.open {
  display: block;
}

.login__top,
.register__top {
  display: flex;
  justify-content: center;
  align-items: center;
}
.login__title,
.register__title {
  display: flex;
  gap: 5px;
  align-items: center;
}
.login__title__img,
.register__title__img {
  height: 26px;
  width: 30px;
}
.login__title__text,
.register__title__text {
  font-size: 20px;
  line-height: 1.33em;
  font-weight: 600;
  color: var(--color-text);
}

.login__close {
  position: absolute;
  right: 25px;
  top: 15px;
}
.login__close__img {
  margin: 10px 0;
}
.login__inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
  margin: 20px 0;
}
input {
  margin-top: 10px;
  font-size: 14px;
  height: 44px;
  line-height: 44px;
  border-radius: 12px;
  border: 1px solid var(--color-input-border);
  padding: 0 15px;
  width: 100%;
  outline: none;
}

.btn__text {
  text-transform: uppercase;
}
.login__error-message {
  margin-top: 10px;
  font-size: 16px;
  text-align: center;
  color: var(--color-invalid--color);
  line-height: 1.5em;
}

.login__text,
.register__bottom__text,
.register__bottom__login {
  margin-top: 10px;
  font-size: 16px;
  text-align: center;
  color: var(--color-btn-g);
  line-height: 1.5em;
}
.register__bottom__login {
  color: var(--color-bg--color);
}
.login__navigation {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .login__navigation {
    flex-direction: row;
    gap: 5px;
  }
}

.login__toregister {
  color: var(--color-bg--color);
}

.register__overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 15px;
  z-index: 10;
}
.register {
  width: 100%;
  max-width: 560px;
  padding: 20px;
  background-color: var(--color-bg-w);
  border-radius: 12px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.register__form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.register__close {
  position: absolute;
  right: 10px;
  top: 15px;
}
@media (min-width: 425px) {
  .register__close {
    position: absolute;
    right: 30px;
    top: 27px;
  }
}
.date__tip {
  font-weight: 300;
  font-size: 12px;
  line-height: 1.5em;
  text-align: left;
  color: var(--color-description);
}
.register__rulesofuse {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.register__rulesofuse__checkbox {
  width: 20px;
  height: 20px;
  border: 1px solid var(--color-border);
  border-radius: 2px;
  margin: 0px;
}
.register__rulesofuse__text {
  text-align: left;
  font-weight: 300;
  font-size: 12px;
  line-height: 1.1em;
}
.register__rules-link {
  color: var(--color-item-bg);
}
.register__bottom {
  display: flex;
  gap: 5px;
}
.invalidInput {
  border-color: var(--color-invalid--color);
}
.error__message {
  margin-top: 2px;
  color: var(--color-invalid--color);
  font-size: 12px;
}
input:focus {
  border-color: var(--color-item-bg);
}
.basket__layer {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 119;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.41);
  display: none;
}
.user__control__wrap {
  position: relative;
}
.user__info {
  display: none;
  flex-direction: column;
  gap: 10px;
  padding: 15px;
  border-radius: 12px;
  position: absolute;
  top: 22px;
  left: -120px;
  background-color: var(--color-bg-w);
}
.user__name {
  display: flex;
  gap: 10px;
  padding-bottom: 2px;
  border-bottom: 1px solid var(--color-border);
}
.user__info__firstname,
.user__info__lastname {
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5em;
  color: var(--color-text);
}

.user__logout {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
.user__logout:hover {
  color: var(--color-item-bg);
}
.user__logout__text {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5em;
  color: var(--color-text);
}
.login__success__overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 15px;
  z-index: 10;
}
.register__success__overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 15px;
  z-index: 10;
}
.login__succes,
.register__succes {
  width: 250px;
  height: 200px;
  background-color: var(--color-bg-w);
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.login__succes__close,
.register__succes__close {
  text-align: right;
  margin: 20px 20px 0 0;
}

.login__success__description,
.register__success__description {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
}
.login__success__img,
.register__success__img {
  width: 40px;
}
.login__success__text,
.register__success__text {
  font-size: 16px;
  font-weight: 600;
}
.show {
  display: flex;
}
