@import url(reset.css);
:root {
  --counter-bg-color: #d22730;
  --color-line: #000000;
  --color-text: #212721;
  --color-selected-menu-item: #009246;
  --color-banner-description: #636662;
  --color-banner-bg: #f5faf2;
  --color-bg: #f5faf2;
  --color-subcategory-border: #d1d9ce;
  --color-border: #d1d9ce;
  --color-product-description: #636662;
  --color-product-bonus: #009246;
  --color-benefit-description: #636662;
}
body {
  font-family: "Mont Blanc", sans-serif;
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: clip;
}
[class*="__container"] {
  margin: 0 auto;
  padding: 0 12px;
}

.header__top {
  display: none;
  position: absolute;
  top: 60px;
  width: 100%;
  border-radius: 16px;
  background-color: #f5faf2;
  flex-direction: column-reverse;
}
.header__work-info {
  margin: 15px 0;
  text-align: center;
}
.header__work-info__phone {
  font-size: 18px;
  color: #d22730;
  line-height: 1.5em;
  font-weight: 600;
}
.header__work-info__hours {
}
.header__work-info__item {
  color: #636662;
  font-size: 14px;
  line-height: 1.4em;
}
.header__links {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  justify-content: center;
}
.header__link {
  font-size: 18px;
  line-height: 1.4em;
  font-weight: 400;
  color: #212721;
  font-weight: 400;
}
.link__about {
}
.link__delivery-payment {
}
.link__shares {
}
.link__contacts {
}
.link__vacancies {
}
.link__news {
}
.link__response {
  padding: 3px 12px;
  background-color: #009246;
  color: white;
  border-radius: 12px;
  font-size: 18px;
  font-weight: 400;
}
.header__delivery__info {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 15px 0;
}

.delivery__info__green__img {
}
.delivery__info__green__text {
  font-weight: 600;
  color: #009246;
  font-size: 14px;
  line-height: 1.5em;
}
.delivery__info__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5em;
  color: #212721;
  padding-left: 5px;
}
.delivery__info__green {
}
.delivery__info__green::before {
  content: url(/icons/i-header-top.svg);
  width: 22px;
  height: 23px;
}
.header__bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-image: url(/icons/bg-slide.svg);
  height: 66px;
}
.header__logo {
}
.logo-img {
  max-width: 120px;
  max-height: 28px;
}

@media (min-width: 1200px) {
  .header__top {
    position: static;
    flex-direction: row;
    display: flex;

    background-color: white;
  }
  .header__links {
    flex-direction: row;
  }
  .header__menu {
  }
  .header {
    display: flex;
    flex-direction: column;
  }
  .header__work-info {
    margin: 0 30px 0 0;
  }
  .header__work-info__item {
    text-align: left;
  }
  .header__links {
    gap: 25px;
    margin-right: 50px;
  }
  .header__delivery__info {
    margin: 0 30px 0 0;
  }
  .header__work-info__phone {
    font-size: 16px;
  }
  .header__work-info__item {
    font-size: 12px;
  }
  .header__link {
    font-size: 14px;
  }
  .link__response {
    font-size: 14px;
  }
  .header__top {
    width: auto;
  }
  .header__user__links {
    position: absolute;
    right: 50px;
    top: 10px;
    z-index: 12;
  }
  .link__user {
    background-color: #d22730;
    padding: 8px 12px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    gap: 5px;
  }
  .link-user-img {
    stroke: white;
  }
  .link__user::after {
    content: "Вхід";
    text-align: center;
    top: 2px;
    color: white;
    font-size: 14px;
    font-weight: 400;
  }
  .hambur-menu {
    display: none;
  }
  .header__menu {
    box-shadow: none;
  }
  .logo-img {
    max-width: 220px;
    max-height: 50px;
  }
}
.header__menu {
  position: absolute;
  left: 50%;
  top: 70px;
  box-shadow: 0.5px 4px 2px rgba(0, 0, 0, 0.1);
  width: 100%;
  transform: translateX(-50%);
}
.header__menu__items {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 40px;
}
.header__menu__item {
  font-family: "Mont Blanc", sans-serif;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 200;
  color: var(--color-text);
  letter-spacing: 0.42px;
  text-align: center;
  box-sizing: border-box;
}
.selected {
}
.headerr__menu__item {
}
.user__control__wrap {
  display: flex;
  align-items: center;
  gap: 20px;
}
.header__user__links {
  display: flex;
  gap: 20px;
}
.header__link__preferences {
  display: flex;
  position: relative;
}
.link__preferences-img {
}
.header__preferences__counter,
.header__product__counter {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--counter-bg-color);
  height: 22px;
  width: 22px;
  border-radius: 100%;
  position: absolute;
  left: 10px;
  top: -8px;
  color: white;
  font-size: 12px;
  font-weight: 400;
}
.link__user {
}
.link-user-img {
}
.header__link__basket {
  display: flex;
  position: relative;
}
.link__basket-img {
}

.hambur-menu {
}
.hamburger-line {
  width: 25px;
  height: 2px;
  background-color: #000000;
  border-radius: 5px;
}
.hamburger-line:not(:last-child) {
  margin-bottom: 7px;
}
@media (min-width: 768px) {
  [class*="__container"] {
    margin: 0 auto;
    padding: 0 12px;
    margin: 0 24px;
  }
}
@media (min-width: 990px) {
  [class*="__container"] {
    margin: 0 auto;
    padding: 0 12px;
    margin: 0 32px;
  }
}

.preferences__tip {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: white;
  padding: 15px;
  width: 256px;
  transform: translateX(-50%) translateY(50px);
  transition: all 0.3s linear;
  border: 1px solid #212721;
  border-radius: 12px;
  display: none;
}
.preferences__tip__description {
  font-size: 16px;
  line-height: 1.5em;
  color: #212721;
  text-align: center;
}
.preferances__tip__img {
}
.preferences__tip__description {
}

.selected {
  color: var(--color-selected-menu-item);
}
main {
  margin-top: 60px;
}

.banner {
  background-color: #f5faf2;
  background-repeat: no-repeat;
  border-radius: 15px;
}
.banner__slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0 15px;
}

.banner__slide__img {
  margin: 0 auto;
  max-width: 70%;
}
.slide__img {
  max-width: 1030px;
  max-height: 802px;
  width: 100%;
}
.banner__content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 10px 0 40px;
}
.banner__title {
  margin-top: 5px;
  font-family: "Mont Blanc", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 28.8px;
  color: var(--color-text);
}
.banner__description {
  font-family: "Mont Blanc", sans-serif;
  font-weight: 400;
  line-height: 21px;
  color: var(--color-banner-description);
  font-size: 14px;
  letter-spacing: 0.8px;
}

@media (min-width: 990px) {
  .banner__slide {
    flex-direction: row-reverse;
  }
  .banner__title {
    font-size: 30px;
    margin-top: 10px;
    line-height: 1.7em;
  }
  .banner__description {
    font-size: 16px;
  }
}
.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  margin-top: 10px;
  color: white;
  border-radius: 12px;
  width: fit-content;
  height: 40px;
  background-color: var(--counter-bg-color);
  padding: 10px 20px;
}
.btn__order_text,
.about__button__text {
  font-family: "Mont Blanc", sans-serif;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
  line-height: 17.4px;
}
.btn__order_arrow,
.about__button_arrow,
.login__button_arrow {
  border-radius: 50px;
  border: 2px solid white;
  padding: 2px;
}
.login__button_arrow{
  width: 100%;
}
.banner__controls {
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner__back__img {
  transform: scaleX(-1);
}
.banner__controls__identifiers {
  display: flex;
}
.banner__controls__identifier {
  width: 10px;
  height: 10px;
  border: 1px solid #d1d9ce;
  border-radius: 50%;
  margin: 0 10px;
}

.category {
}
.category__title {
  color: var(--color-text);
  font-size: 22px;
  font-weight: 600;
  margin-top: 20px;
}
.subcategories {
  padding: 0 15px 5px;
  margin: 10px 0;
  display: flex;
  overflow-x: auto;
  gap: 5px;
}
.subcategory {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding: 5px 20px;
  border: 1px solid var(--color-subcategory-border);
  border-radius: 12px;
  font-size: 14px;
  font-family: "Mont Blanc", sans-serif;
  font-weight: 36px;
  height: 36px;
  line-height: 24px;
  color: var(--color-text);
}
.subcategory__all {
}
.subcategory__spicy {
}
.subcategory__meat {
}
.subcategory__vegetables {
}
.subcategory__seafood {
}
.products {
  display: flex;
  flex-wrap: wrap;
}
.product {
  flex: 0 0 100%;
  margin-bottom: 20px;
}

@media (min-width: 650px) {
  .product {
    flex: 0 0 46%;
    margin: 0 10px 20px 10px;
  }
}
@media (min-width: 990px) {
  .product {
    flex: 0 0 31.2%;
  }
}
.product {
  display: flex;
  flex-direction: column;
  border: 1.6px solid var(--color-border);
  border-radius: 16px;
  padding: 0 15px 15px;
  align-items: center;
  justify-content: center;
}
.product__img {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;
  margin-bottom: 10px;
  object-fit: cover;
}
.product__title {
  color: var(--color-text);
  font-size: 18px;
  line-height: 23.4px;
  font-weight: 600;
  display: flex;
  justify-content: flex-start;
  align-self: flex-start;
}
.product__ingredients {
  margin-bottom: 10px;
  font-weight: 400;
  line-height: 21px;
  font-size: 14px;
  color: var(--color-product-description);
  overflow: hidden;
  min-height: 4.5em;
}
.product__control {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.product__control__info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 15px;
}
.product__price__wrapper {
  display: flex;
  align-items: center;
  gap: 5px;
}
.product__price,
.product__price_currency {
  font-size: 18px;
  font-weight: 600;
  color: var(--color-text);
}
.product__price_currency {
}
.product_weight {
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  color: var(--color-product-description);
}
.product__bonus {
  color: var(--color-product-bonus);
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
}
.product__control__action {
  display: flex;
  justify-content: space-between;
}
.product__amount__control {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.8px solid var(--color-border);
  border-radius: 12px;
}
.product__amount__decrement,
.product__amount,
.product__amount__increment {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-text);
  font-weight: 400;
  width: 36px;
  text-align: center;
  font-size: 16px;
}
.product__amount {
  border-left-style: solid;
  border-left-width: 0.8px;
  border-left-color: var(--color-border);
  border-right-style: solid;
  border-right-width: 0.8px;
  border-right-color: var(--color-border);
}
.product__amount__increment {
}
.product__btn__order {
  margin: 0;
  max-width: 58%;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.button {
}
.btn__order_text {
}
.btn__text {
}
.btn__basket__img {
}
.benefits {
  margin-top: 50px;
}
.benefit {
  display: flex;
  flex-direction: column;
  padding: 15px 20px;
  justify-content: flex-start;
  border: 1px solid var(--color-border);
  border-radius: 25px;
}
.benefit__img {
  height: 50px;
  width: 50px;
  margin-bottom: 10px;
}
.benefit__title {
  color: var(--color-text);
  font-weight: 600;
  margin-bottom: 5px;
  line-height: 1.3em;
  font-size: 18px;
}
.benefit__description {
  line-height: 1.3em;
  color: var(--color-benefit-description);
  font-weight: 400;
  font-size: 16px;
}

.about {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid var(--color-border);
  border-radius: 30px;
  width: 320px;
}

.about__img {
  border-radius: 30px;
  width: 100%;
  max-width: 100%;
  height: auto;
}
.about__info {
  padding: 0px 15px 20px 15px;
}

.about__title {
  font-size: 22px;
  color: var(--color-text);
  margin-bottom: 10px;
  line-height: 1.3em;
  font-weight: 600;
  margin: 5px 0;
}
.about__description {
  font-size: 16px;
  color: var(--color-benefit-description);
  font-weight: 400;
  line-height: 1.3em;
  margin-bottom: 10px;
}
.about__description__bold {
  font-size: 16px;
  color: var(--color-text);
  font-weight: 600;
  line-height: 1.3em;
}
.about__button {
  margin-top: 15px;
}
.btn__text {
}
.about__button_arrow {
}

.footer__container {
  display: flex;
  flex-direction: column;
}
.footer__top {
  background-color: #f5faf2;
  padding: 20px 15px;
  border: 16px;
  position: relative;
}
.footer__contact {
  margin-bottom: 15px;
}
.footer__logo {
  margin-bottom: 15px;
}
.logo__img {
  max-width: 140px;
  max-height: 32px;
}
.footer__phone-number {
  color: #d22730;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5em;
}
.footer__work__hours {
  color: #636662;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.05em;
}
.footer__social-media {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: absolute;
  top: 25px;
  right: 25px;
}
.footer__social__instagram,
.footer__social__facebook,
.footer__social__youtube {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 26px;
  width: 26px;
  background-color: #d22730;
  border-radius: 100%;
  padding: 9px;
}
.instagram__img,
.youtube__img,
.facebook__img {
}
.footer__social__instagram {
}
.footer__download {
  margin-top: 10px;
  margin-bottom: 5px;
  font-size: 16px;
  line-height: 1.5em;
  font-weight: 400;
  color: #212721;
}
.download__title {
  margin-bottom: 5px;
}
.download__buttons {
  display: flex;
  gap: 10px;
}
.btn__app-store {
  width: 120px;
  height: initial;
}
.btn__google-play {
  width: 120px;
  height: initial;
}
.footer__columns {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer__menu {
}
.footer__menu__title,
.footer__about__title,
.footer__adresses__title {
  font-size: 16px;
  max-width: 100%;
  color: #212721;
  font-weight: 600;
  margin-bottom: 5px;
}
.footer__menu__links {
}
.footer__menu__link,
.footer__about__link,
.footer__address {
  color: #636662;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5em;
}
.footer__about {
}

.footer__about_links {
}

.footer__addresses {
}

.footer__bottom {
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 7px;
}
.footer__bottom__rights,
.footer__bottom__privacy,
.footer__bottom__offer {
  font-size: 12px;
  color: #636662;
  line-height: 1.3em;
  font-weight: 400;
}
.footer__bottom__cards {
  display: flex;
  gap: 5px;
}
.footer__bottom__card {
}
.footer__bottom_card_visa {
}
.ftr_botm_crd {
}
.footer__bottom_card_mastecard {
}
.menu_body {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
}
.basket__top {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 15px;
  position: relative;
  height: 56px;
  border-bottom: 1px solid #d1d9ce;
}
.basket__title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.basket__title__img {
  width: 30px;
  height: 26px;
}
.basket__title__text {
  color: #212721;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.7em;
}
.basket__button {
}
.basket__close {
  position: absolute;
  right: 20px;
  top: 23px;
}
.basket__empty {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px 0;
  margin: 240px 0;
  text-align: center;
}
.basket__empty__title {
  font-size: 18px;
  line-height: 1.5em;
  font-weight: 600;
  color: #212721;
}
.basket__empty__button {
}
.button {
}
.basket__empty__button__text {
}
.btn__text {
}
.basket__bottom__content {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
}
.basket__bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.basket__info {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.basket__sum {
  display: flex;
}
.basket__sum__amount,
.basket__sum__text,
.basket__sum__currency {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5em;
  color: #636662;
  margin-right: 5px;
}
.basket__bonus {
  display: flex;
}
.basket__bonus__text,
.basket__bonus__amount {
  font-weight: 700;
  font-size: 14px;
  color: #009246;
  margin-right: 5px;
}
.basket__bottom__button {
  margin-bottom: 5px;
}
.basket__bottom__button__text {
}
.basket__products {
  display: flex;
  flex-direction: column;
}
.basket__product {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  align-items: center;
  padding: 5px 0;
  border-bottom: 1px solid #d1d9ce;
}
.basket__product__img {
  padding-left: 15px;
  max-width: 90px;
}

.product__info {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  width: 100%;
  padding-right: 15px;
}
.product__title__wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.product__title {
  line-height: 1em;
  margin-bottom: 5px;
  color: #212721;
  font-weight: 600;
  font-size: 16px;
}
.product__delete {
}
.product__controls {
  display: flex;
  justify-content: space-between;
}
.product__default__price {
  display: flex;
  gap: 2px;
}
.product__default__price__value,
.product__default__price__currency,
.product__total__price__value,
.product__total__price__currency {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5em;
  color: #212721;
}
.product__default__price__currency {
}
.product__control__action {
}
.product__amount__control {
}
.product__amount__decrement {
}
.product__amount {
}
.product__amount__increment {
}
.product__total__price {
  display: flex;
  gap: 2px;
}
.product__total__price__value {
}
.product__total__price__currency {
}
.ordering-products {
  position: absolute;
  top: 50px;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: #ffffff;
}
.address__info {
  display: flex;
  flex-wrap: wrap;
}

.input__house {
  flex: 0 0 auto;
  width: 50%;
}
.input__entrance {
  flex: 0 0 auto;
  width: 50%;
}
.input__floor {
  flex: 0 0 auto;
  width: 50%;
}
.input__flat {
  flex: 0 0 auto;
  width: 50%;
}
.ordering-products{
  display: none;
}
.login__overlay{
  position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 15px;
}
.login{
  width:90%; /* або будь-який інший розмір, який вам потрібен */
  padding: 20px;
  background-color: white;
  border-radius:12px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.login__top{
  display:flex;
  width: 100%;
}

.login
.ordering-products,
.register{
  display: none;
}
.open{
  display: block;
}


.login__top,
.register__top {
  display: flex;
  justify-content: center;
  align-items: center;
 
}
.login__title,
.register__title {
  display: flex;
  gap:5px;
  align-items: center;
}
.login__title__img,
.register__title__img
 {
  height: 26px;
  width:30px;
}
.login__title__text,
.register__title__text{
 font-size: 20px;
 line-height: 1.33em;
 font-weight: 600;
 color:#212721;

}

.login__close  {
  position: relative;
  left:50px;
  top:0px;
}
.login__close__img {
  margin:10px 0;
}
.login__inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  
}
.login__number,
.login__password{
  font-size: 14px;
  height: 44px;
  line-height: 44px;
  border-radius: 12px;
  border:1px solid #b4b4b4;
  padding: 0 15px;
}
.login__password {
}
.lodin__button {
}
.lodin__button__text {
}
.btn__text {
}
.lodin__button_arrow {
}
.login__error-message {
  margin-top: 10px;
  font-size: 16px;
    text-align: center;
    color: #d22730;
    line-height: 1.5em;
  
}
 
.login__text {
  margin-top: 10px;
  font-size: 16px;
    text-align: center;
    color: #636363;
    line-height: 1.5em;
}
.login__forgot-password {
}
.login__notregistered {
}
.login__toregister {
  color: #d22730;
}

.register__overlay{
  position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 15px;
    z-index: 10;

}
.register{
  width:90%; /* або будь-який інший розмір, який вам потрібен */
  padding: 20px;
  background-color: white;
  border-radius:12px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.register__form{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.register__close{

}
